*.DS_Store
*.pyc
/.heroku
/.mysql_history
/.gdb_history
/.parallels
/.gem
/.ec2
/.homesick
/.irb_history
/.irb-history
/.dropbox
/.Trash
/.Xauthority
/.lesshst
/.mutt/cache
/.mutt/temp
/.ssh/*
!/.ssh/config
/.zsh/cache
/oldconfigs
/.history
/.pry_history
/.weechat/logs
/.weechat/weechat.log
/.weechat/xfer
/Applications
/Applications\ \(Parallels\)
/Downloads
/Dropbox
/Desktop
/Documents
/Google\ Drive
/Library/*
!/Library/KeyBindings
!/Library/AppleScripts
!/Library/Keyboard\ Layouts
/Pictures
/Music
/Public
/Sites
/VirtualBox\ VMs
/Movies
/.offlineimap
/.mail
/work
/tools
/play
/vms
/chef-repo
/macports
/macvim
/read
/dev
/devel
.CFUserTextEncoding
.aws/
.awssecret
.bash_history
.bash_profile
.bashrc
.boto
.bundler/
.cache/
.chef/
.ctags
.cups/
.dvdcss/
.editrc
.elinks/
.fasd
.fasd-init-bash
.fog
.fontconfig/
.gemrc
.gh-dotfiles/
.gitignore.backup
.gitignore_global
.hgignore_global
.homesick/
.htoprc
.inputrc
.neocon/
.netrc
.oh-my-zsh/
.oldtmux
.parrcold
.pearrc
.pryrc
.psql_history
.puppet/
.rnd
.rvm/
.secrets
.spf13-vim-3/
.sqlite_history
.subversion/
.subversion_IDEA/
.tmp/
.urlview
.vagrant.d/
/.vim/.netrwhist
.vim-cache/
.vim-janus/
.vim.20120307
.vim.backup
/.vim-fuf-data
.vimbackup/
.vimfuzzyfinder
.vimgolf/
.viminfo
.viminfobak
.vimperator/
.vimrc-janus
.vimrc-johan
.vimrc.20120307
.vimrc.after
.vimrc.boundles.local
.vimrc.bundles.local
.vimrc.local
.vimrc.local.old
.vimswap/
.vimundo/
.vimviews/
.yadr/
.yankring-history_v2.txt
.zcompdump
.zcompdump.zwc
.zhistory
.zprezto
.zpreztorc
.zsh-update
.zsh.after/
.zsh.before/
.zsh_history
.zshrc-johan
.zshrc.pre-oh-my-zsh
.~lock.aktiverings.odt#
Byword.css
Markdown.pl
TSR.ipa
aws
awscredentials
awskeys
awsoddjob.sh
awsold/
awstools/
awstsr.sh
checksdb.php
cloudprov_bootstrap.sh
codes
colors
colortest
current
dbstuff
deployercred
dotfiles/
ec2-api-tools/
ec2key
fileserver-cert.pem
fileserver-pk.pem
go-pear.php
go/
hemsidadirekt.md
id_rsa-fileserver
incentiveq.sql
install.sh
irssi.tar
jdbc/
jmeter/
johan.pem
johan@anaconda
/johans.keylayout
johanssh
macosx_bootstrap.sh
maildata.txt
mailserver.pem
oddami
oddjob.pem
oddjobpayments.zip
oddlaunch
oddpmaster
oddpuppet
oh-my-zsh-johan/
oh-my-zsh-old/
oldpuppet/
pe-agent.answers
pear/
plattform.md
puppet-rvm/
puppet/
puppet_agent_answers
rails/
route53ns.txt
rrdump.xml
rsyncpass
ruby/
s3
sc2/
sendconfirmation.php
solarized/
spf13-vim/
support.rrd
t
test.rb
