snippet tsr "Insert signature TSR" !b

----------------------------------------------------------
Regards,
Johan Isacsson

Ibibi HB, TheSimsResource.com
endsnippet
snippet gh "Insert signature Generatorhallen" !b

----------------------------------------------------------
Med vänlig hälsning,
Johan Isacsson

Generatorhallen AB / Hemsidadirekt
endsnippet

snippet reg "Regards" !b

Regards,
Johan Isacsson
endsnippet
snippet mvh "Mvh" !b

Med vänlig hälsning,
Johan Isacsson
endsnippet
snippet hej "Hej $(1:Namn)," !b
Hej ${1:namn},

$2
endsnippet
